.main {


}

.main-container{
  width: 60%;
  padding-left: 105px;
  // margin: 0 auto;
}
.secondary-parallax{
  max-height: 100vh;
}

.col-lg-8{
  margin-right: -30px;
}

// .sub-section{
//   // padding: 25px;
//   text-align: center;
//   background: grey;
//   height: 33.3vh;
//   width: 104%;
// }

.skills{
  background: lightgrey;
}
.content{
  background: grey;
}
.work{
  background: whitesmoke;
}

.about-main{
  padding: 50px;
}

.circle-container{
  width: 100%;
}
.circle-pic{
  height: 200px;
  width: 200px;
  background: pink;
  border-radius: 150px;
  margin: 0 auto;
}

.about-txt{
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 40px;
}

.social-media-about{
  padding-left: 43%;
  a{
    color:#444;
    padding: 15px;
    font-size: 20px;
  }
}
.work-main{
  padding: 100px;
  overflow: hidden;
}
.work-box{
  background: lightgrey;
  height: 200px;
  text-align: center;
}
