.about-main{
  padding: 50px;
}

.circle-container{
  width: 100%;
}
.circle-pic{
  height: 200px;
  width: 200px;
  background: pink;
  border-radius: 150px;
  margin: 0 auto;
}

.about-txt{
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 40px;
  text-align: justify;
}

.social-media-about{
  ul{
    list-style: none;
    text-align: center
  }
  a{
    color:#444;
    padding: 15px;
    font-size: 25px;
  }
}
