* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {

}

h1,
h2,
h3{
  margin: 0px;
}

body {
  // font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: #444;
  transition: all .4s .3s ease-in;

}
body,html{
	min-height: 100vh;
	overflow: scroll;
}
