* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  width: 100%;
}
body {
  position: relative;
  color: #444;
  .container{
    width:100%;
    margin: 0px;
    padding: 0px;
  }
}

h1,
h2,
h3{
  margin: 0px;
}
.col-lg-3,
.col-lg-9,{
  padding: 0px !important;
}
body,html{
	min-height: 100vh;
	overflow: scroll;
}
.container{
  padding: 0px;
}
