.work-main{
  padding: 100px;
  overflow: hidden;
}
.work-box{
  // background: lightgrey;
  // height: 200px;
  // text-align: center;
  padding: 10px;
}
.bell-monitor{
  height: 500px;
  background-image: url('../img/drumheroMonitor.png');
  background-position: 50% 50%;
  -webkit-background-size:cover;
     -moz-background-size:cover;
       -o-background-size:cover;
          background-size:cover;
}
